.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
    /* position: relative; */
    padding: 10px;
  
}

.bgBlur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    filter: blur(4px);
    background-image: url(https://image.tmdb.org/t/p/original/fqv8v6AycXKsivp1T5yKtLbGXce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bgBlur:after {
    content: '';
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, #04152d00, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;    
    opacity: 0.5;
}



.image {
    width: 33%;
    /* max-width: 30%;   */
}

.details {
    width: 67%;
}

.title {
    font-weight: 750;
    font-size: 39px;
}

.subTitle {
    font-size: 20px;
    font-weight: 100;
    color: lightgray;
}


.heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subTitle h3 {
    line-height: 1!important;
    margin-bottom: 16px;
}

.genre {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;
}
.genre span {
    background: #da2f68;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 1;
    font-size: 12px;
}

.movieDetail {
    position: relative;
    display: flex;
    gap: 50px;
}

.description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
}

.movieInfo p {    
    border-bottom: 1px solid #5f5f5f;
    padding: 10px 0;   
    margin-bottom: 0px; 
}
.movieInfo p span {
    margin-right: 16px;
}

.playbtn {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  
  .playbtn .playIcon {
    width: 60px;
  }
  
  @media (min-width: 768px) {
    .playbtn .playIcon {
      width: 80px;
    }
  }
  
  .playbtn .triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: white;
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
  }
  
  .playbtn .circle {
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all 0.5s ease-in-out;
  }
  
  .playbtn:hover .triangle {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: var(--pink);
    animation: trailorPlay 0.7s ease-in-out;
  }
  
  .playbtn:hover .circle {
    stroke-dashoffset: 0;
    stroke: var(--pink);
  }
  
  @keyframes trailorPlay {
    0% {
      stroke-dashoffset: 480;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  

@media (max-width: 767px) {
    .movieDetail {
        flex-direction: column;
    }

    .image, .details {
        width: 100%;
        /* max-width: 30%;   */
    }
}